@media screen and (max-width:1676px){
	.con_content ul li{
		width: 25%;
	}
	.con ul li{
		width: 16% !important;
	}
}
@media screen and (max-width:1590px){
	#nav_btn{
		display: block;
	}
	.banner_wrap .wrap_nav .nav{
		display: none;
	}
}
@media screen and (max-width:1560px){
	.footer_content ul:nth-of-type(1) {
   		 width: 97%;
	}
	.footer_content ul:nth-of-type(1) li:last-child {
		margin-left: 350px;
    	margin-top: -100px;
    	float: none;
	}
}
@media only screen and (max-width:1364px){
	.fixedNav_cotent{
		width: 281px;
		height: 400px;
		padding: 0;
	}
	.fixedNav_cotent>div:nth-child(2){
		width: 226px;
		height: 289px;
		padding-top:5px;
		position: relative;
	}
	.fixedNav_cotent>div>input{
		width: 100%;
		height: 25px;
		margin: 5px;
		margin-left: -5px;
	}
	.fixedNav_cotent>div textarea{
		width: 100%;
		height: 100px;
		margin-left: -5px;
	}
	#send{
		width: 100px;
		height: 40px;
		background-color: #434343;
		color: white;
		margin-left: 45px;
		margin-top:-5px;
	}
	.fixedNav_cotent>div:nth-child(2) img{
		width: 230px;
		height: 219px;
		left: 0;
		top: 0;
		right: 0;
		top: 0;
		margin: auto;
	}
}
@media screen and (max-width:1320px){
	.title{
		width: 98%;
	}
	.wrap_nav{
		width: 98%;
	}
	.content_wrap{
		width: 98%;
	}
	.content{
		width: 98% !important;
	}
}
@media screen and (max-width:659px){
	.con_content ul li{
		width: 70%;
	}
	.con ul li {
    width: 37% !important;
	}
}
@media screen and (max-width:900px){
	.footer_content ul:nth-of-type(1) li {
    	margin-right: 30px;
	}
	.footer_content ul:nth-of-type(1) li:last-child {
		margin-left: 350px;
    	margin-top: -100px;
    	float: none;
	}
}
@media screen and (max-width:799px){
	.footer_content ul:nth-of-type(1) li {
   		display: block;
   		text-align: center;
   		width: 100%;
	}
	.footer_content ul li>p:nth-of-type(1){
		margin:10px 0px !important;
		padding-top: 0%;
		line-height: 30px;
	}
	.footer_content>ul>li>p:nth-of-type(2){
		border-bottom:1px solid white;
	}
	.footer_content ul li>div>p {
    	margin: 20px 0;
	}
	.zixun_phone{
		font-size: 22px !important;
	}
}