*{
	margin: 0;
	padding: 0;
}
html,body,.wrap{
	width: 100%;
	height: 100%;
}
.clearfix:after{
	display: block;
	content: '.';
	line-height: 0;
	overflow: hidden;
	visibility: hidden;
	clear: both;
}
.banner_wrap{
	width: 100%;
}
.wrap{
	min-width: 631px;
}
.wrap_nav{
	 position: relative;
	width: 75%;
	margin: 0 auto;
	// overflow: hidden;
	max-width: 1436px;
	font-size: 16px;
	z-index: 1;
}
a{
	text-decoration: none;
	color:black;
}
.wrap_nav  a img{
	float: left;
}
.banner_wrap .wrap_nav .nav{
	list-style: none;
	text-align: right;
	padding-top: 30px;
	overflow: hidden;
	font-family: 微软雅黑;
}
.banner_wrap>.wrap_nav>.nav li{
	display: inline-block;
	margin-left:4%;
	color: black;
	height: 30px;
}
.banner_wrap>.wrap_nav>.nav>li:nth-of-type(2){
	border-bottom: 2px solid #CEDB00;
}
.banner_wrap>.wrap_nav>.nav>li:first-child{
	margin-right: 0%;
}
.banner_wrap>.wrap_nav>.nav>li:hover{
	border-bottom: 2px solid rgb(206, 219, 0);

}
#nav_btn img{
	right: 16px;
	top:30px;
	float: right;
}
#nav_btn{
	position: absolute;
	margin-top:30px;
	right: 1%;
	top: 0;
	display: none;
	z-index: 1;
}
#nav_btn .nav{
	list-style: none;
	width: 148px;
	height: 255px;
	background-color: #BBC603;
	text-align: center;
	padding: 5px;
	font-family: 微软雅黑;
	clear:both;
	display: none;
	font-size: 14px;
}
#nav_btn>.nav>li{
	margin: 7% 0;
}
#nav_btn .nav li a{
	font-size:14px;
	color: white !important;
}
.con_wrap{
	width: 75%;
	margin: 30px auto 0;
	font-size: 0;
}
.con_wrap img{
	width: 100%;
	height: 100%;
}
.title{
	width: 75%;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
    position: relative;
    display: table;
    text-align:left; 
}
.title ul{
	list-style: none;
	display: table-cell;
	vertical-align: middle;
}
.title>ul>li>a{
	font-family: "微软雅黑";
	font-size: 16px ;
	color: #898989;
	text-align: left;
}
.title>ul>li>a:hover{
	border-bottom: 2px solid black;
	color:black;
}
.aActive{
	border-bottom: 2px solid black;
	color:black;
}
.title>ul>li{
	display: inline-block;
	margin:0 4% 0 0;
	height: auto;
}
.content_wrap{
	width: 75%;
	margin: 0 auto;
}
.con_wrap1{
	display: none;
	width: 100% !important;
	margin-top: 0px;
}
.con_wrap div{
	width: 33%;
	display: inline-block;
	vertical-align: top;
	// font-size: 0;
}
.con_wrap>div:nth-of-type(2){
	margin: 0 0.5%;
}
.con_wrap div div{
	width: 100%;
	margin-bottom: 2%;
}
.con_wrap1 div div{
	position: relative;
}
.con_wrap div>div>img{
	width: 100%;
	height: 100%;
}

.con_wrap div>div>img:nth-of-type(2){
	width: 20px;
    height: 34px !important;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.con_wrap div:nth-of-type(2) >img{
	width: 100%;
	height: 100%;
}
.active{
	display: block;
}
/*--------------------------首页底部---------------*/
.footer{
		width: 100%;
		height: auto;
		margin-top:198px;
		position: relative;
}
.footer_content{
	padding-bottom: 20px;
	overflow: hidden;
	width: 100%;
	background-color: #838483;
	position: relative;
}
.footer_content ul{
	position: absolute;
	left: 0;
	right: 0;
}
.footer_content ul:nth-of-type(1){
	list-style: none;
	width: 75%;
	position: relative;
	left: 0;
	right: 0;
	margin:0 auto;
}
.footer_content ul:nth-of-type(1) li{
	list-style: none;
	color: white;
	margin-right: 26px;
	font-family: "微软雅黑";
	width: 13%;
	display: inline-block;
	vertical-align:top;
}
.footer_content ul:nth-of-type(1) li:last-child{
	width: 19%;
	text-align:right;
	margin-right: 0;
}
.footer_content ul li:last-child>p:first-child ~p{
	margin-top: 15px;
}
.fs{
	font-size: 12px !important;
}
.zixun_phone{
	font-size: 28px !important;
}
.footer_content ul li>p:nth-of-type(1){
	width: 100%;
	height: 30px;
	font-size: 16px;
	padding-top: 40px;
}
.footer_content ul li>div>p{
	width: 150px;
	height: 20px;
	margin:4%  0;
	font-size: 14px;
}
.footer_content ul a{
	text-decoration: none;
	color:white;
}
.zixun{
	float: right;
	width: 20%;
}
.zixun li{
	clear: both;
	list-style: none;
	line-height: 30px;
	font-family: 微软雅黑;
	color: #bfc0bf;
}
.zixun li:nth-of-type(2){
	font-size: 19px;
	color: white;
}
.footer_end{
	font-family: "微软雅黑";
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #424242;
	text-align: center;
	color: #E5E5E5;
	vertical-align: middle;
	font-size: 12px;
}
/*返回顶部*/
.returnTop{
	height: 57px;
    width: 60px;
    position: fixed;
    right: 0;
    bottom: 0;
	/* display: none; */
}
/*固定导航栏*/
.fixedNav_wrap{
	position: fixed;
	top:0%;
	left: 0;
	bottom: 0%;
	margin: auto;
	height: 20%;
	// width:auto;
	z-index: 2;
}
.contact{
	width: 65px;
	height: 65px;
	margin: 1.5%;
	opacity: 0.7;
	background-color: #9C9CA0;
}
.fixedNav_cotent{
	float: right;
	position: absolute;
	left: 65px;
	top:0px;
	bottom: 0;
	margin: auto;
	width: 396px;
	height: 495px;
	background-color: white;
	border-radius:5px;
	display: none;
	
}
.fixedNav_cotent>div:nth-child(1){
	width: 100%;
	height: 63px;
	border-bottom:1px solid #C9C9C9;
}
.fixedNav_cotent>div span{
	display: inline-block;
	height: 63px;
	font-size: 20px;
	line-height: 63px;
	font-weight: bold;
}
.fixedNav_cotent>div span:nth-of-type(1){
	text-indent: 25px;
	float: left;
}
.fixedNav_cotent>div span:nth-of-type(2){
	font-family: 微软雅黑;
	font-weight: bold;
	float:right;
	margin-right:25px;
}
.fixedNavChange{
	z-index:1;
	display:block;
}
/*------------------------------固定导航栏：电话块-----------------*/
.fixedNav_cotent>div:nth-child(2){
	width: 350px;
	height: 325px;
	padding: 25px;
	position: relative;
}
.fixedNav_cotent>div>input{
	width: 94%;
	background-color: #EFEFEF;
	margin: 8px;
	border-radius: 5px;
	border:1px solid #C9C9C9 ;
	outline: none;
	text-indent: 5px;
	color:#BFA9A9;
	line-height: 30px;
	word-spacing: 10px;
}
#input{
	z-index: 3;
}
.fixedNav_cotent>div textarea{
	width: 94%;
	height: 120px;
	background-color: #EFEFEF;
	margin: 8px;
	border-radius: 5px;
	border:1px solid #C9C9C9 ;
	outline: none;
	text-indent: 25px;
	color:#BFA9A9;

}
#send{
	width: 150px;
	height: 40px;
	background-color: #434343;
	color: white;
	margin-left: 91px;
}

/*------------------------------固定导航栏：电话块-----------------*/

/*--------------------------固定导航栏：微信，微博块---------------*/
.fixedNav_cotent>div:nth-child(2) img{
	width: 350px;
	height: 300px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
#img1{
	z-index: 2;
}
